// Font Variables
$crimson-text: 'Crimson Text', serif;   
$work-sans: 'Work Sans', sans-serif;

// Font Weight
$light: 300;
$regular: 400;
$bold: 700;


// Predefined Break-points

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$max-md: 991.98px;

